.divCardProcess{
    background: rgba(255, 255, 255, 0.10);
}
.pCard , .titleCard, .describCard {
    font-family: ChakraPetch;
}

.divCardProcess{
    position: relative;
    background-color: grey;
    padding: 1.5%;
}

.pCardRight {
    position: absolute;
    right: 104%;
    font-size: 50px;
    color: #1ACAD5;
}

.pCardLeft {
    position: absolute;
    left: 104%;
    font-size: 50px;
    color: #1ACAD5;
}

