
.titleCard, .describCard {
    font-family: ChakraPetch;
}

.divCardProcess{
    position: relative;
    padding: 1.5%;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
}

.pCardRight {
    position: absolute;
    right: 104%;
    font-size: 50px;
    color: #1ACAD5;
    font-family: ChakraPetch;
}

.pCardLeft {
    position: absolute;
    left: 104%;
    font-size: 50px;
    color: #1ACAD5;
    font-family: ChakraPetch;
}

