.footer{
    height: 400px;
    padding: 20px;
    background-color: black;
    z-index: 4;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

