.pageTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.membersContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 100px;
}