.pageTitleContainer{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    width: 100%;
}

.mainTitle, .subTitle {
    /* position: absolute; */
}

.mainTitle {
    font-family: ChakraPetch;
}

.subTitle {
    font-family: MilkiWalki;
    z-index: -1;
}

