.page {
	margin-top: 184px;
}

.divContainer {
	display: "flex";
	justify-content: "center";
	align-items: "center";
	flex-direction: "column";
	margin-bottom: 20px;
	margin-top: 20px;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 84%;
	min-height: 30vh;
	margin: auto;
	margin-bottom: 2%;
	background: radial-gradient(
		97.57% 210.75% at 0.9% 2.98%,
		rgba(255, 255, 255, 0.4) 0%,
		rgba(255, 255, 255, 0.150833) 0.01%,
		rgba(255, 255, 255, 0.0113137) 95.62%,
		rgba(255, 255, 255, 0) 100%
	);
	backdrop-filter: blur(10px);
	border-radius: 0px 4px 4px 0px;
}

.divLogo {
	width: 17%;
}

.divProjet {
	width: 85%;
	padding-left: 2.5%;
	padding-top: 0.5%;
}

.logoImg {
	width: 100%;
}

.container h1,
.container p {
	color: white;
}

.container h1 {
	font-family: "Chakra Petch";
	font-style: normal;
	font-weight: 500;
	font-size: 34px;
}

.container h2 {
	color: #1acad5;
	padding-bottom: 2%;
}

.container p {
	width: 93%;
	font-family: "Chakra Petch";
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 31px;
	text-align: justify;
	color: rgba(255, 255, 255, 0.6);
}

.techImg {
	width: 40%;
	margin-top: 3%;
}

@media screen and (max-width: 426px) {
	.page {
		margin-top: 100px;
	}

	.container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.divProjet {
		padding: 1%;
	}
}

@media screen and (max-width: 500px) {
	.container {
		min-height: 40vh;
		width: 100%;
	}

	.divLogo {
		display: none;
	}

	.divProjet {
		width: 90%;
	}

	.techImg {
		display: none;
	}
}

@media screen and (min-width: 321px) and (max-width: 426px) {
	.container {
		min-height: 40vh;
		width: 95%;
	}

	.container p {
		width: 100%;
	}

	.divLogo {
		display: none;
	}

	.divProjet {
		width: 100%;
	}

	.techImg {
		width: 100%;
		margin-top: 5%;
	}
}
