.divTitle{
    position: relative;
    width: 100%;
}
.firstTitle {
    font-family: ChakraPetch;
    top:-14%;
    position: relative;
}

.secondTitle {
    font-family: MilkiWalki;
    font-weight: 500;
    position: relative;
    top:14%;
}
