.divTitle{
    position: relative;
    width: 100%;
    z-index: 2;
}
.firstTitle {
    width: 100%;
    position: absolute; 
    top: 45%;
    font-family: ChakraPetch;
}

.secondTitle {
    font-family: MilkiWalki;
    font-weight: 500;
}

